.mail{
    width: 100%;
    margin-top: 10px;
    background-color: #003580;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.mailTitle{
    font-size: 25px;
}

.mailDesc{
    font-size: 14px;
}

.mailInputContainer{
    width: 300px;
    height: 30px;
    padding: 30px;
    border: none;
    margin-left: 50px;
}

.mailInputContainer>button{
    height: 48px;
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
}


.mailInputContainer:hover>button{
    background-color: #0071c2cf;
    transition: ease-in-out 0.3s;
}

.input{
    padding: 15px;
}

.input:focus{
    outline: none; /* Remove default focus outline */
    border: 2px solid #0071c2cf; /* Change border color on focus */
}

.listProperty{
    background-color: #fff3;
    border-radius: 3px;
    border:1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin: 0 10px;
    padding: 0 15px;
    line-height: 26px;
    cursor: pointer;
    margin-bottom: 10px;
}

.listProperty:hover{
    background-color: #003580eb;
    transition: ease-in-out 0.3s;
}

.listp{
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #fff;
    width: 100%;
    padding: 10px 0; /* Add padding for spacing */
}

.listp ul {
    display: flex; /* Display list items in a row */
    padding: 0;
    margin: 0;
}

.lists{
    list-style: none;
    margin: 0 15px; /* Add margin for spacing between list items */
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    transition: padding 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Add padding to transition properties */
}

.lists:hover{
    background-color: #002780;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #fff;
}

